<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Get your greeting <a href="/">here</a>
	</p>

	<h1>Result</h1>
	<p th:text="'content: ' + ${greeting.content}" />
	<p th:text="'content: ' + ${greeting.password}" />
	<p th:text="'content: ' + ${greeting.gender}" />
	<p th:text="'content: ' + ${greeting.email}" />
	<p th:text="'content: ' + ${greeting.mobile}" />
    <p th:text="'content: ' + ${greeting.city}" />
    
		<a href="/greeting">Submit another message</a>
</body>
</html>



